.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
}

.previewImage {
    width: 100px;
    margin-top: 10px;
}

.blindBoxCard {
    margin-bottom: 12px;
}

.blindBoxImage {
    width: 100px;
}
.probabilityTotal {
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 16px;
    color: #555;
}
