.container {
    padding: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px); /* 每格固定宽度，不拉伸 */
    justify-content: center; /* ✅ 让所有小方格整体居中 */
    gap: 1px;
    margin: 0 auto;
    max-width: 800px;
    width: fit-content;;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 100%);
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}

.box:hover {
    transform: scale(1.05);
}

.logo {
    width: 95%;
    opacity: 0.9;
}

.sold {
    font-size: 14px;
    font-weight: bold;
    color: #f5222d;
}

.serial {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    background: rgb(255, 247, 0);
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: 500;
    color: #333;
    z-index: 2;
}

.buttons {
    margin-top: 24px;
    display: flex;
    gap: 16px;
}

.drawBtn {
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    background: #5b9bd5;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.drawBtn:hover {
    background: #407fc7;
}
.detailButtonContainer {
    text-align: center;
    margin-top: 20px;
}

.detailButton {
    padding: 8px 16px;
    background-color: rgba(173, 216, 230, 0.5); /* 鲜黄色 */
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
.checkbox {
    position: absolute;
    top: 4px;
    right: 4px;
    transform: scale(1.2);
}

